html, body {
	font: 400 10px/18px 'Source Serif Pro', Arial, sans-serif;
}
@media all and (min-width: 600px) {
	html, body {
		font-size: 12px;
	}
}

article {
	max-width: 50rem;
	padding: 10rem 2rem 0 2rem;
	margin-left: auto;
	margin-right: auto;
}
article:last-child {
	padding: 10rem 2rem;
}

h1,
h2,
h3,
h4 {
	font-family: 'Merriweather';
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 1em;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
	margin-top: 1.5em;
}
h3 {
	font-size: 2em;
}
h4 {
	font-size: 1.75em;
}
@media all and (min-width: 600px) {
	h1 {
		font-size: 5rem;
	}
}

p,
ul,
ol {
	font-size: 1.75em;
	line-height: 1.6;
	margin-bottom: 1.5em;
}
p:last-child,
ul:last-child,
ol:last-child {
	margin-bottom: 0;
}
li {
	margin-bottom: 1em;
}
li:last-child {
	margin-bottom: 0;
}

sup {
	vertical-align: super;
	font-size: .5em;
}
